html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

::selection {
  background: transparent;
}

input::selection {
  background-color: #1d2126;
  color: #9ea1a5;
  padding: 4px;
}

button:focus,
input:focus {
  outline: none;
}


body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  color: #9ea1a5;
}

.title-bar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  background-color: #1d2126;
  height: 24px;
  user-select: none;
  padding: 4px;
  text-align: center;
  transition: all 0.5s;
}

.title-bar:hover {
  background-color: #000;
}

.tool-bar {
  background-color: #3a424c;
  padding: 6px 4px;
}

.tool-bar > div {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.tool-bar > div > div > button,
.url-bar {
  border: 0px solid red;
  background-color: #181b1f;
  color: #FFF;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  vertical-align: top;
  padding-bottom: calc(0.375em - 1px);
  padding-top: calc(0.375em - 1px);
  height: 2em;
}

.tool-bar > div > div > button {
  margin: 0 2px;
  transition: all 0.5s;
  cursor: pointer;
}

.tool-bar > div > div > button:hover {
  background-color: #4d97f8;
  color: #ffffff;
}

.url-bar {
  flex: 1;
  margin: 0 8px;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
